.body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
/* -----------------HEADER------------ */
.header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #83966e;
}

.header_ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header_a {
  color: #fff;
  text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    z-index: 1001;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 2px;
    transition: 0.3s;
}
/* -----------------HERO------------ */
.hero {
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 121px;
  justify-content: center;
  background-color: #e8f2dc;
  margin: 0;
}

.hero_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 632px;
}

.hero_title {
  color: #83966e;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.hero_text {
  color: #312e2e;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.hero_img {
  max-width: 527px;
  width: 100%;
  height: 324px;
  border-radius: 8px;
  background: #8c7d7d;
}

.hero_button {
  border-radius: 8px;
  background: #83966e;
  padding: 9px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: none;
  box-sizing: border-box;
  max-width: 218px;
  width: 100%;
  height: 40px;
}

.hero_button__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
/* -----------------ABOUTUS------------ */
.aboutUs {
  background-color: #c8d5b9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  margin: 0;
}

.aboutUs_info {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  width: 100%;
}

.aboutUs_title {
  color: #83966e;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.aboutUs_img {
  max-width: 548px;
  width: 100%;
  height: 460px;
  border-radius: 8px;
  background: #3d3a3a;
}

.aboutUs_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 317px);

  row-gap: 10px;
  column-gap: 16px;
}

.aboutUs_li {
  max-width: 317px;
  width: 100%;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  background-color: #83966e;
  border-radius: 8px;
}

.aboutUs_li__img {
  height: 85px;
  max-width: 285px;
  width: 100%;
  border-radius: 8px;
  background: #3d3a3a;
  margin-bottom: 8px;
}

.aboutUs_li__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/* --------------------FAQ------------------------- */
.faq {
  margin: 0;
  background-color: #e8f2dc;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-bottom: 54px;
  box-sizing: border-box;
  width: 100%;
}

.faq_title {
  color: #83966e;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.faq_block {
  display: flex;
  flex-direction: row;
  gap: 121px;
  justify-content: center;
  align-items: center;
}

.faq_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.faq_li {
  max-width: 338px;
  width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  border-radius: 8px;
  background: #83966e;
}

.faq_li_text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.faq_img {
  max-width: 563px;
  width: 100%;
  height: 464px;
  border-radius: 8px;
  background: #8c7d7d;
}

/* --------------CONTACT---------------------- */
.contact {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #83966e;
  width: 100%;
  max-height: 222px;
  gap: 40px;
  padding: 16px;
  box-sizing: border-box;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact_info_button {
  padding: 8px 34px 7px 34px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact_info_block {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.contact_info_button__text {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.contact_info_title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.contact_img {
  max-width: 186px;
  width: 100%;
  height: 268px;
  border-radius: 8px;
  background: #8c7d7d;
  z-index: 5;
}

.contact_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.contact_left_block {
  max-width: 449px;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.contact_left_item {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.contact_left_text {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

/* -----------------------FOOTER-------------------- */
.footer {
}

.footer_helper {
  min-height: 56px;
  background-color: #e8f2dc;
}

.footer_info {
  min-height: 80px;
  background: #83966e;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer_ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_a {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 1599px) {
  .aboutUs_img {
    max-width: 331px;
    width: 100%;
    height: 390px;
  }
}

@media screen and (max-width: 1199px) {
  .hero_title {
    font-size: 32px;
  }

  .aboutUs_img {
    display: none;
  }

  .aboutUs_ul {
    display: grid;
    grid-template-columns: repeat(1, 317px);
  }

  .faq_img {
    max-width: 322px;
    height: 390px;
  }

  .contact_left {
    display: none;
  }
}

@media screen and (max-width: 839px) {
  .header {
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .burger {
        display: flex;
    }

    .header_nav {
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 40vh;
        background-color: #83966e;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.4s ease;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .header_nav.active {
        right: 0;
    }

    .header_ul {
        flex-direction: column;
        gap: 2.5rem;
        text-align: center;
        padding-top: 55px;
        box-sizing: border-box;
    }

    .header_a {
        font-size: 1.2rem;
        padding: 0.8rem 1.5rem;
        font-weight: 600;
    }

    .header_a::after {
        display: none;
    }

    /* Анимация бургер-иконки */
    .burger.active .burger_line:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .burger.active .burger_line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .burger_line:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

  .hero {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
  }
  .hero_block {
    align-items: center;
  }
  .hero_title {
    font-size: 20px;
    text-align: center;
  }
  .hero_text {
    font-size: 16px;
    text-align: center;
  }

  .aboutUs_title {
    font-size: 16px;
  }

  .faq_title {
    font-size: 20px;
  }
  .faq_img {
    display: none;
  }

  .contact_info_title {
    font-size: 14px;
  }
  .contact_info_button__text {
    font-size: 13px;
  }
  .contact_img {
    max-width: 110px;
  }

  .footer_a {
    font-size: 14px;
  }
}

@media screen and (max-width: 599px) {
}

/* ------------------------FAQPAGE----------------------------------- */
.faqPage {
  background-color: #E8F2DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px 16px 38px;
  box-sizing: border-box;
}

.faq_title {
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
margin: 0;
}

.services-list {
  max-width: 806px;
  width: 100%;
  height: auto;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #83966E;
  border-radius: 8px;
}

.service-item {
}

.service-header {
    padding: 18px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}

.service-header:hover {
  opacity: 0.7;
}

.service-header h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.service-icon {
    font-size: 1.3rem;
    transition: transform 0.3s ease;
}

.service-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.service-content-inner {
    padding: 20px;
}

.content-block {
    margin-bottom: 25px;
}

.content-block:last-child {
    margin-bottom: 0;
}

.content-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
}

.content-text {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #fff;
}

.content-list {
    list-style-type: none;
    padding-left: 20px;
    color: #fff;
}

.content-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.content-list li:before {
    content: "-";
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: -5px;
}

.service-item.active .service-icon {
    transform: rotate(90deg);
}

.service-item.active .service-content {
    max-height: 2000px;
}
