.body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
/* -----------------HEADER------------ */
.header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #bea568;
}

.header_ul {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header_a {
  color: #000;
  text-decoration: none;
}
/* -----------------HERO------------ */
.hero {
  padding: 32px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 121px;
  justify-content: center;
  background-color: #f6eace;
  margin: 0;
}

.hero_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 632px;
}

.hero_title {
  color: #bea568;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.hero_text {
  color: #312e2e;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.hero_img {
  max-width: 527px;
  width: 100%;
  height: 324px;
  border-radius: 8px;
  background: #8c7d7d;
}

.hero_button {
  border-radius: 8px;
  background: #bea159;
  padding: 9px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: none;
  box-sizing: border-box;
  max-width: 218px;
  width: 100%;
  height: 40px;
}

.hero_button__text {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
/* -----------------ABOUTUS------------ */
.aboutUs {
  background-color: #bea568;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  margin: 0;
}

.aboutUs_info {
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  width: 100%;
}

.aboutUs_title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.aboutUs_img {
  max-width: 548px;
  width: 100%;
  height: 460px;
  border-radius: 8px;
  background: #3d3a3a;
}

.aboutUs_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 317px);

  row-gap: 10px;
  column-gap: 16px;
}

.aboutUs_li {
  max-width: 317px;
  width: 100%;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  background-color: #967e45;
  border-radius: 8px;
}

.aboutUs_li__img {
  height: 85px;
  max-width: 285px;
  width: 100%;
  border-radius: 8px;
  background: #3d3a3a;
  margin-bottom: 8px;
}

.aboutUs_li__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/* --------------------FAQ------------------------- */
.faq {
  margin: 0;
  background-color: #f6eace;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-bottom: 54px;
  box-sizing: border-box;
  width: 100%;
}

.faq_title {
  color: #bea568;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.faq_block {
  display: flex;
  flex-direction: row;
  gap: 121px;
  justify-content: center;
  align-items: center;
}

.faq_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.faq_li {
  max-width: 338px;
  width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  border-radius: 8px;
  background: #bea568;
}

.faq_li_text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.faq_img {
  max-width: 563px;
  width: 100%;
  height: 464px;
  border-radius: 8px;
  background: #8c7d7d;
}

/* --------------CONTACT---------------------- */
.contact {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #bea568;
  width: 100%;
  max-height: 222px;
  gap: 40px;
  padding: 16px;
  box-sizing: border-box;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact_info_button {
  padding: 8px 34px 7px 34px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact_info_block {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.contact_info_button__text {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.contact_info_title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.contact_img {
  max-width: 186px;
  width: 100%;
  height: 268px;
  border-radius: 8px;
  background: #8c7d7d;
  z-index: 5;
}

.contact_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.contact_left_block {
  max-width: 449px;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.contact_left_item {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.contact_left_text {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

/* -----------------------FOOTER-------------------- */
.footer {
}

.footer_helper {
  min-height: 56px;
  background-color: #f6eace;
}

.footer_info {
  min-height: 80px;
  background: #bea568;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer_ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer_a {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 1599px) {
  .aboutUs_img {
    max-width: 331px;
    width: 100%;
    height: 390px;
  }
}

@media screen and (max-width: 1199px) {
  .hero_title {
    font-size: 32px;
  }

  .aboutUs_img {
    display: none;
  }

  .aboutUs_ul {
    display: grid;
    grid-template-columns: repeat(1, 317px);
  }

  .faq_img {
    max-width: 322px;
    height: 390px;
  }

  .contact_left {
    display: none;
  }
}

@media screen and (max-width: 839px) {
  .header {
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .header_ul {
    display: none;
  }

  .hero {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
  }
  .hero_block {
    align-items: center;
  }
  .hero_title {
    font-size: 20px;
    text-align: center;
  }
  .hero_text {
    font-size: 16px;
    text-align: center;
  }

  .aboutUs_title {
    font-size: 16px;
  }

  .faq_title {
    font-size: 20px;
  }
  .faq_img {
    display: none;
  }

  .contact_info_title {
    font-size: 14px;
  }
  .contact_info_button__text {
    font-size: 13px;
  }
  .contact_img {
    max-width: 110px;
  }

  .footer_a {
    font-size: 14px;
  }
}

@media screen and (max-width: 599px) {
}
